*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #131720;
    font-family: sans-serif;
    color: aliceblue;
    padding-top: 1rem;
}
@media screen and (min-width: 1px){
    

.top-nav{
    overflow: hidden;
    background-color: #131720;
    display: flex;
    justify-content: space-between;
}
.top-nav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

form{
    background-color: #151f30;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
input{
    all: unset;
    font: 15px system-ui;
    color: white;
    font-size: 20px;
    
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.thumbnail{
    height: 200px;
    width: 150px;
    border-radius: 19px;
}
.card{
    border-radius: 19px;
    background-color: #151f30;
    
}
.column{
    width: 150px;
}
.main{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
}

@media screen and (min-width: 721px){
    .thumbnail{
        height: 300px;
        width: 200px;
        border-radius: 19px;
    }
    form{
        background-color: #151f30;
        border-radius: 11px;
        display: flex;
        align-items: center;
    }
    .main{
        padding-top: 2rem;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        row-gap: 5px;
        column-gap: 8rem;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    input{
        font-size: 30px;
    }
}